:root {
    --primary-color: #222831;
    --second-color: #393E46;
    --orange-color: #fa5305;
    --white-color: #EEEEEE;

    --font-Work: 'Work Sans', sans-serif;
    --font-Noto: 'Noto Serif', serif;
    --font-cur: 'Playwrite FR Moderne', cursive;
}

::selection {
    background-color: var(--orange-color);
    /* Color de fondo de la selección */
    color: var(--primary-color);
    /* Color del texto seleccionado */
}

body {
    background-image: linear-gradient(0deg, rgb(25, 25, 25), rgb(21, 21, 21)), linear-gradient(45deg, rgb(208, 179, 2) 0%, rgb(208, 179, 2) 14%, rgb(178, 144, 14) 14%, rgb(178, 144, 14) 22%, rgb(147, 110, 26) 22%, rgb(147, 110, 26) 26%, rgb(117, 75, 39) 26%, rgb(117, 75, 39) 38%, rgb(86, 41, 51) 38%, rgb(86, 41, 51) 78%, rgb(56, 6, 63) 78%, rgb(56, 6, 63) 100%), linear-gradient(135deg, rgb(208, 179, 2) 0%, rgb(208, 179, 2) 14%, rgb(178, 144, 14) 14%, rgb(178, 144, 14) 22%, rgb(147, 110, 26) 22%, rgb(147, 110, 26) 26%, rgb(117, 75, 39) 26%, rgb(117, 75, 39) 38%, rgb(86, 41, 51) 38%, rgb(86, 41, 51) 78%, rgb(56, 6, 63) 78%, rgb(56, 6, 63) 100%);
    background-blend-mode: overlay, overlay, normal;
}

* {
    font-family: var(--font-Work);
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-alura {
    width: 40px;
    height: auto;
    background-image: url('logo-alura.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titulo,
.descripcion {
    display: block;
    text-align: center;
    margin-left: 0;
}

.titulo {
    font-size: 50px;
    color: var(--orange-color);
    font-weight: 600;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 12%;
    margin-bottom: 20px;
    font-family: var(--font-Noto);
}

.descripcion {
    width: 50%;
    margin: 0 auto;
    margin-top: 0;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 12%;
    color: #f4fdfdfb;
    font-family: var(--font-Work);
    font-size: 30px;
    font-weight: 350;
}

.text-area,
.text-mensaje {
    background-color: transparent !important;
    backdrop-filter: blur(30px) !important;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.text-area {
    border-color: none;
    color: var(--white-color);
    width: 800px;
    height: 500px;
    text-transform: lowercase;
}

.text-mensaje {
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
    width: 400px;
    height: 500px;
    margin-top: -11%;
    resize: none;
}

.text-area:hover,
.text-mensaje:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 5px var(--white-color),
        0 0 20px var(--white-color),
        0 0 35px var(--orange-color),
        0 0 40px var(--orange-color);
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boton-desencriptar,
.boton-encriptar,
.copiar,
.boton-reiniciar {
    border-radius: 24px;
    height: 67px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.boton-encriptar {
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(50px);
    border: 1px solid var(--orange-color);
    color: var(--white-color);
}

.boton-encriptar:hover {
    transform: translateY(-10px);
    color: var(--orange-color);
    background-color: transparent;
    box-shadow: 0 0 5px var(--orange-color),
        0 0 10px var(--orange-color),
        0 0 15px var(--orange-color),
        0 0 20px var(--orange-color);
}

.boton-desencriptar {
    background: transparent;
    backdrop-filter: blur(50px);
    border: 2px solid var(--orange-color);
    color: var(--white-color);
}

.boton-desencriptar:hover {
    color: var(--orange-color);
    transform: translateY(-10px);
    background-color: transparent;
    box-shadow: 0 0 5px var(--orange-color),
        0 0 10px var(--orange-color),
        0 0 15px var(--orange-color),
        0 0 20px var(--orange-color);
}

.boton-reiniciar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border: 2px solid var(--orange-color);
    color: var(--white-color);
}

.boton-reiniciar:hover {
    color: var(--orange-color);
    transform: translateY(-10px);
    background-color: transparent;
    box-shadow: 0 0 5px var(--orange-color),
        0 0 10px var(--orange-color),
        0 0 15px var(--orange-color),
        0 0 20px var(--orange-color);
}

.copiar {
    background: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(100px);
    border: 2px solid var(--orange-color);
    color: var(--white-color);
    border-radius: 24px;
    height: 67px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.copiar:hover {
    transform: translateY(-10px);
    color: #f7df0a;
    background-color: transparent;
    box-shadow: 0 0 5px var(--white-color),
        0 0 15px var(--white-color),
        0 0 20px var(--white-color);
}

.informacion {
    color: var(--white-color);
    font-size: 18px;
    text-align: center;
}